* {
    box-sizing: border-box;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(198, 198, 198, 0.9);
}

.modal-container {
    width: 45vw;
    position: fixed;
    top: 2%;
    left: 30%;
    background-color: #fff;
    border: 2px solid white;
    border-radius: 8px;
}